html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title My profile
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/contributeUser.css')
        script(src='/js/client.js')

    body
        //-Nav Bar
        include ../views/partials/welcomeNavBar
        if session.loggedIn
            //- Username and type of user
            #user.jumbotron.text-center
                h1#userName #{session.username}
                h5#type
                    | Type: 
                    span#userType Contributer
                    br
                    br
            .container
                .row
                    .col-sm-4
                        h3 People You Follow
                        ul.list-unstyled
                            if followPeople.length===0
                                li 0 people following
                                a(href="/searchPeople") Browse People 
                            else
                                each item in followPeople
                                    li
                                    input#personName(type='checkbox')
                                    a(href="/people/"+item) #{item}
                        button#deletePeople(type='button') Unfolow Selected
                    .col-sm-4
                        h3 Users You Follow
                        ul.list-unstyled
                            if followUsers.length===0
                                li 0 users following
                                a(href="/searchUsers") Find Users 
                            else
                                each item in followUsers
                                    li
                                    input(type='checkbox')
                                    a(href=item) #{item}
                        button#deleteUser(type='button') Unfolow Selected
                    .col-sm-4
                        h3 You May Also Like
                        ul#sList.list-unstyled
                            if recommend.length===0
                                li Explore, add, or review some movies :)
                                    a(href='/searchMovies') HERE!
                            else
                                each item in recommend
                                    li
                                        a(href='/movies/'+item) #{item}
            .container
                .row
                    .col-sm-6
                        h3.add Add New Movie
                        .form.adder
                            form(action='/movies' method='POST')
                                label(for='actor') Actor(s):
                                br
                                input#mActor(type='text' name='actors' required='')
                                br
                                br
                                label(for='writer') Writer(s):
                                br
                                input#mWriter(type='text' name='writers' required='')
                                br
                                br
                                label(for='director') Director(s):
                                br
                                input#mDirector(type='text' name='director' required='')
                                br
                                br
                                label(for='movie') Movie Title:
                                br
                                input#movie(type='text' name='title' required='')
                                br
                                br
                                input#mAddEntry(type='submit' value='Add')
                    .col-sm-6
                        h3.add Add New Person
                        .form.adder
                            form(action='/people' method='POST')
                                label(for='actor') Actor:
                                br
                                input#actor(type='text' name='actors')
                                br
                                br
                                label(for='writer') Writer:
                                br
                                input#writer(type='text' name='writers')
                                br
                                br
                                label(for='director') Director:
                                br
                                input#director(type='text' name='director')
                                br
                                br
                                input#addEntry(type='submit' value='Add')
                        //- .alert
                        //-     span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                        //-     strong Yay!
                        //-     |  Sussessfully added new people
                            
                    

            //- Switching User Status
            #switchUser.switchUser
                form(onsubmit="return confirm('Are you sure you want to downgrade to Regular User?');" action="/upgrade" method="POST")
                    input#changeUser(type='submit' value='Downgrade to Regular User')
                #question
                    h5#whatIsIt What's a Regular User?
                    p
                    | Downgrading to 
                    span#regUser Regular User
                    |  gives you access to the same benefits as Contributing Users, but with limited benefits:
                    ul
                        li Browse Movies
                        li Follow people and other users
                        li Post Reviews
                        li Cannot add movies to the database
                        li Cannot add people to the database
            //-includes footer.pug
            include ../views/partials/footer
            