html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title My profile
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/regularUser.css')
    body
        //- includes authNavBar.pug
        include ../views/partials/welcomeNavBar
        if session.loggedIn

            //- Username and type of user
            #user.jumbotron.text-center
                h1#userName #{session.username}
                h5#type
                    | Type: 
                    span#userType Regular
                    br
                    br
            .container
                .row
                    .col-sm-4
                        h3 People You Follow
                        ul.list-unstyled
                            if followPeople.length===0
                                li 0 people following
                                a(href="/searchPeople") Browse People 
                            else
                                each item in followPeople
                                    li
                                    input#personName(type='checkbox')
                                    a(href="/people/"+item) #{item}
                        button#deletePeople(type='button') Unfolow Selected
                    .col-sm-4
                        h3 Users You Follow
                        ul.list-unstyled
                            if followUsers.length===0
                                li 0 users following
                                a(href="/searchUsers") Find Users 
                            else
                                each item in followUsers
                                    li
                                    input(type='checkbox')
                                    a(href=item) #{item}
                        button#deleteUser(type='button') Unfolow Selected
                    .col-sm-4
                        h3 You May Also Like
                        ul#sList.list-unstyled
                            if recommend.length===0
                                li Explore, add, or review some movies :)
                                    a(href='/searchMovies') HERE!
                            else
                                each item in recommend
                                    li
                                        a(href='/movies/'+item) #{item}

            //- Switching User Status
            #switchUser.container.switchUser
                form(onsubmit="return confirm('Are you sure you want to downgrade to Regular User?');" action="/upgrade" method="POST")
                    input#changeUser(type='submit' value='Upgrade to Contributing User')
                #question
                    h5#whatIsIt What's a Contributing User?
                    p
                    | Upgrading to 
                    span#conUser Contibuting User
                    |  unlocks additional benefits of our Movie Database such as:
                    ul
                        li Add new movies to our database
                        li Add new people (actors, writers, directors) to our database
            //-includes/footer.pug
            include ../views/partials/footer
            